{% extends "base.html" %}

{% block title %}{{ repo.name }} - Gitinator{% endblock %}

{% block content %}
<div class="py-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for crumb in breadcrumbs %}
        {% if crumb.url %}
          <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.label }}</a></li>
        {% else %}
          <li class="breadcrumb-item active" aria-current="page">{{ crumb.label }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>

  {% include "gitinator/_file_tree.html" %}
</div>
{% endblock %}
